@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
   font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar{
  display: none;
}
.to-violet-600 {
    --tw-gradient-to: oklch(0.45 0.08 223.84) !important;
    --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), oklch(0.66 0.11 212.29) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position)) !important;
}

.from-purple-400 {
    --tw-gradient-from: oklch(0.57 0.1 217.9) !important;
    --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), oklch(0.48 0.08 223.71) var(--tw-gradient-to-position)) !important;
}

.backGroundImg{
  background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
}